<br>
<br>
<br>
<br>
<br>
<br>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-body">
      <%= simple_form_for [@artist, @review] do |f| %>
        <%= f.input :rating, label: false, placeholder: "Rating"%>
        <%= f.input :comment, label: false, placeholder: "Comments"%>
        <%= f.input :user, label: false, placeholder: "User Name"%>
        <%= f.submit "Submit".html_safe, class: "btn btn-danger btn-large" %>
      <% end %>
    </div>
  </div>
</div>
