<div class="col-xs-12"

  <h1>This is the awesome authie app</h1>
  <p><%=link_to "Test", root_path, class: 'btn btn-lg btn-warning' %> </p>

  <% if user_signed_in? %>
<div class="well">
  <%=current_user.inspect %>
</div>

  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>

  <% else %>

  <%= link_to "Sign In", new_user_session_path %>

  <%= link_to "Sign Up", new_user_registration_path %>

  <%end %>

</div>
